body{
    background-image: url("bg.png"); 
    
}
table{
    
    background-color: rgba(255, 255, 255, 0.7);
}
tr{
    height: 51px;
}
img{
    height: 50px;
    width: 50px;
}
td{
    width: 51px;
    height: 51px;
    
}
table, th, td{
    border: 1px solid black;    
}
.container{
    margin-top: 200px;
}
div .playermap{
    float: left;
}
div .botmap{
    float: right;
}
div .buttons{
    clear: both;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 30px;
}

.buttons button{
    margin-left: 50px;
    border-radius: 20%;
    text-align: center center;
    width: 160px;
    height: 80px;
    background-color: #0075e3;
    font-weight: bold;
    border: none;
    font-size: 14px;
    transition: background-color 1s, color 0.8s;
}
.buttons button:hover {
    font-size: 15px;
    background-color: #0804db;
    color: yellow;
}
.gameList tr:hover{
    cursor: pointer;
}
